:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --low-text-color: #757575;
  --upper-line-color: #ececec;
  --hat-color: #2f303a;
  --background-2: #f5f4fa;
  --footer-background: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/* font-family: "Raleway", sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

#blue {
  color: var(--accent-color);
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

header > .container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-right: 93px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-navigation {
  margin-right: auto;
}

.header-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--text-color);
}

.header-link:hover {
  color: var(--accent-color);
}

.mail-svg {
  fill: var(--low-text-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.phone-svg {
  width: 10px;
  height: 16px;
  fill: var(--low-text-color);
  margin-right: 10px;
}

.low-header-link {
  color: var(--low-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  align-items: center;
}

.low-header-link:hover {
  color: var(--accent-color);
  .mail-svg {
    fill: var(--accent-color);
  }
  .phone-svg {
    fill: var(--accent-color);
  }
}

.order {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/team.webp);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
}

.order-button {
  border-radius: 4px;
  border: 0px;
  background: var(--accent-color);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  margin-top: 30px;
  padding: 10px 32px;
}

.order-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.pluses {
  padding-top: 94px;
}

.pluses-list {
  display: flex;
  gap: 30px;
}

.pluses-item {
  text-align: left;
}

.pluses-item:nth-child(1)::before {
  content: url(../img/antenna.webp);
}

.pluses-item:nth-child(2)::before {
  content: url(../img/clock.webp);
}

.pluses-item:nth-child(3)::before {
  content: url(../img/statistic.webp);
}

.pluses-item:nth-child(4)::before {
  content: url(../img/cosmonaut.webp);
}

.pluses-titles {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.pluses-text {
  color: var(--low-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  gap: 30px;
}

.what-we-do-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
}

.what-we-do-img {
  width: 370px;
  height: 294px;
}

.team {
  background-color: var(--background-2);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
}

.person-text {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}

.team-name {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-text {
  color: var(--low-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  margin-bottom: 16px;
}

.person-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ppl-social-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.ppl-social-link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ppl-social-link:hover {
  background-color: var(--accent-color);
  .ppl-social-svg {
    fill: #fff;
  }
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: solid 1px #afb1b8;
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-link:hover {
  border-color: var(--accent-color);
  .clients-svg {
    fill: var(--accent-color);
  }
}

footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  display: flex;
}

.address-contacts {
  margin-right: 70px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: #fff;
}

.footer-address-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}

.footer-address {
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}

.footer-info {
  color: var(--footer-text-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}

.join-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social {
  margin-top: 15px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-link:hover {
  background-color: var(--accent-color);
}

.filters-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-button {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  background: var(--background-2);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}

.filter-button:hover {
  background: var(--accent-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  border: 1px solid #eee;
  flex-basis: calc((100% - 60px) / 3);
}

.project-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.project-img {
  width: 100%;
}

.project-text {
  background: #fff;
  padding: 20px 24px;
  text-align: left;
}

.project-name {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.project-type {
  color: var(--low-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
