* {
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.blue {
  color: #2196f3;
}

.orderbutton {
  background-color: #2196f3;
  color: #ffffff;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border-width: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  text-align: center;
}

footer {
    background-color: #2F303A;
}

.order{
    background-color: #2F303A;
}

.selected {
    background-color: #2196f3;
}